:root {
  /* Colors: */
  --cool-gray-600: #6b7d8f;
  --info-blue-100: #d6f6ff;
  --info-blue-600: #00689e;
  --info-blue-500: #0099d2;
  --product-blue-500: #0abfdc;
  --cool-gray-300: #c7d3df;
  --cool-gray-100: #f9fafc;
  --green-500: #01885a;
  --product-spot-color-green: #19af0d;
  --mitra-blue-700: #003368;
  --mitra-blue-600: #004d9e;
  --mitra-blue-400: #408dde;
  --mitra-blue-200: #bfd9f4;
  --cool-gray-200: #e3e9ef;
  --cool-gray-700: #47535f;
  --red-500: #cd2026;
  --mitra-blue-800: #001a35;
  --cool-gray-500: #8fa7bf;
  --cool-gray-400: #abbdcf;
  --cool-gray-800: #242a30;
  --cool-gray-900: #07080a;
  --mitra-blue-100: #f2f7fd;
  --mitra-blue-500: #0067d2;
  --card-color: #fff;
  --cool-gray-100: #F9FAFC;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  font-size: 16px;
}

body {
  background: url(../img/bg.svg) no-repeat fixed center;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--cool-gray-900);
}

.required::after {
  content: "*";
  color: red;
}

input{
  font-family: "Source Sans Pro", sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: .75rem 1.25rem;
  margin: 0.5rem 0 1rem 0;
  display: inline-block;
  border: 1px solid var(--cool-gray-400);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--mitra-blue-100);
}

input:hover {
  border-color: var(--mitra-blue-500);
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid var(--mitra-blue-500);
  box-shadow: 0px 0px 12px rgba(0, 103, 210, 0.2);
  outline: none;
}

input::placeholder{
  color: var(--cool-gray-500);
}

button {
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 28px;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: 0.2s ease;

}

button:last-of-type {
  margin-bottom: 1.5rem;
}

.primary-button {
  background-color: var(--mitra-blue-500);
  color: white;
  border: none;
}

.primary-button:hover {
  background-color: var(--mitra-blue-600);
}

.secondary-button {
  background-color: white;
  color: var(--cool-gray-900);
  border: 1px solid var(--cool-gray-400);
  position: relative;
}

.secondary-button-icons {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.secondary-button:hover {
  color: var(--mitra-blue-500);
  background-color: var(--mitra-blue-100);
  border-color: var(--mitra-blue-500);
}

hr {
  border-top: 1px solid var(--cool-gray-400);
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  margin-bottom: 1.5rem;
}

a {
  font-weight: 700;
  color: var(--mitra-blue-500);
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease;
}

a:hover {
  text-decoration: underline;
  color: var(--mitra-blue-600);
}

a+a {
  margin-bottom: 0;
}

/* .bg-logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  background: url(../img/bg-logo.svg) no-repeat fixed center;
  z-index: -1;
} */

.logo {
  display: block;
  text-align: center;
  margin: 1.5rem auto 2rem auto;
}

.welcome-text {
  text-align: center;
  font-size: 1.125rem;
  color: var(--cool-gray-900);
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.parent-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

@media screen and (max-width: 1400px) {
  .parent-container {
    margin-top: 2rem;
    align-items: start;
  }
}

.card {
  padding: 2rem;
  margin: auto auto 2.25rem;
  border-radius: 4px;
  width: 20vw;
  background-color: var(--card-color);
}

@media screen and (max-width: 1400px) {
  .card {
    padding: 2rem;
    margin: auto auto 2.25rem;
    border-radius: 4px;
    width: 25vw;
    background-color: var(--card-color);
  }
}

@media screen and (max-width: 1024px) {
  .card {
    padding: 2rem;
    border-radius: 6px;
    width: 80vw;
    background-color: var(--card-color);
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.footer-links a {
  color: white;
  font-weight: 400;
  padding: 0 1rem 0 1rem;
  margin-bottom: 0;

}

@media screen and (max-width: 1024px) {
  .footer-links {
    flex-flow: column;
    margin-bottom: 0;
  }
  .footer-links a {
    padding: 1rem;
  }

  .footer-links a:last-of-type{
    padding-bottom: 2rem;
  }
}

.copyright {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  padding-bottom: 1.5rem;
}

.password-container{
  position: relative;
}

.password-icon{
  position: absolute;
  right: 1.25rem;
  top: 1.325rem;
  cursor: pointer;
  transition: .1s ease-in;
}

.password-icon:hover{
  opacity: .7;
}

/* .container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
} */

#settings {
  border-radius: 60px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 24px;
  top: 24px;
  cursor: pointer;
  line-height: 0;
  transition: .2s ease;
}

#settings:hover {
  transform: scale(1.1);
}

#settings a{
  margin-bottom: 0;
}

#settings-panel {
  display: none;
  background-color: white;
  height: 50vh;
  width: 300px;
  position: fixed;
  right: 24px;
  top: 84px;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.settings-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.settings-checkbox label {
  font-size: 1rem;
  margin-left: .4rem;
}

.error-message{
  display: none;
  padding: 0.8rem 1.5rem;
  margin: 2rem 0 1.5rem 0;
  font-size: .8rem;
  color: white;
  font-weight: bold;
  background-color: var(--red-500);
  border-radius: 4px;
}

/* only for iphone */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:1024px) { 
  select,
  textarea,
  input {
    font-size: 1rem;
  }
}